/*body {
    height: 100%;
    background-image: url
    background-color: #484b51;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}*/

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.9);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-image: url("/images/bg2.png");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    overflow:auto;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

}

.navbar-darkish {
    background-color:rgba(0,0,0,0.5);
    color:#b9bbbe;
}

.navbar-darkish img {
    max-height: 60px;
    max-width: 100px;
}

.navbar-darkish ul {
    color:#b9bbbe;
}

.navbar-darkish ul li div{
    background-color:rgba(0,0,0,0.7);
    border: darkgrey;
}

.navbar-darkish ul li div a{
    color:#b9bbbe;
}

.navbar-darkish ul li div a:hover{
    background-color:rgba(0,0,0,0.7);
    color:white;
}

.gradiant-background {
    /*background-image: linear-gradient(to bottom, white, #d9d9d9);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;*/
}

.navbar-nav .nav-link{
    font-size: 90% !important;
}

.dropdown-item{
    font-size: 90% !important;
}
.card{
    background-color: rgba(0,0,0, 0.7) !important;
    color: rgb(255,255,255);
}

.table th {
    color: rgb(255,255,255) !important;
}
.table td {
    color: rgb(255,255,255) !important;
}


.box {
    background-color: rgba(0,0,0, 0.7);
    color:rgb(255,255,255) !important;
    border-radius: 5px;
    padding: 1% 2%;
}
.licensebox p {
    padding-top: 1%;
    margin-bottom: -1%;
}

.namelessdisc{
    padding-top:50%
}

.text-gray {
    color:#b9bbbe;
}

.nav-tabs-dark {}

.nav-tabs-dark li {}

.nav-tabs-dark li a {
    color:#b9bbbe;
}

.nav-link-dark {
    padding: .5rem 1rem;
    display: block;
    border: transparent solid 1px;
}

.nav-link-dark:hover {
    color:#e4e5e7;
    border: #787c87 solid 1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

.nav-tabs-dark li a.active-dark {
    color: white;
    background-color: #60646c;
    border: transparent solid 1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
background-color:rgba(0,0,0,0.9) !important;
}
